body {
	background: black;
	font-family: "Cabin", sans-serif;
}

h1 {
	width: 80%;
}

img {
	width: 4rem;
	height: 4rem;
}
input {
	border: none;
	border-bottom: 0.5px solid grey;
	padding-bottom: 0.4rem;
}

p {
	margin: 0;
}

button {
	margin: auto;
	margin-top: 1.8rem;
	padding: 0.3rem;
}

.postcard {
	/* background: #fbfcfe; */
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 1rem;
}

.header {
	display: flex;
}
.contenido-principal {
	display: flex;
}
.postcard-footer {
	text-align: center;
}
